@model InventoryManagementSystem.Domain.ForgotPasswordVM
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "ForgotPassword";
}
@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="Email">Please enter your registered email address to receive temporary password</label>
        <div class="has-feedback">
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @placeholder = "Email", @class = "form-control", @autocomplete = "off" } })
            <span class="fa fa-envelope form-control-feedback"></span>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary">Send Email</button>
        </div>
        <div class="col-xs-4 pull-right">
            <a href="/Login/Login" class="btn btn-default btn-block">Cancel</a>
        </div>
        <!-- /.col -->
    </div>
}